$base-back-color: steelblue;
$neutral-background-color:white;
$header-text-color:white;
$active-tab:white;
$active-tab-text:black;
$inactive-tab:lightblue;
$inactive-tab-text:darkblue;
$active-tab-hover-shadow: paleturquoise;
$footer-text-color:white;
$selected-grid-row-color: #85C1E9;
$error-text-color:#f00;
$error-background-color:#fee;
$default-button-background: linear-gradient(lightsteelblue, steelblue 70%);
$default-button-border-color:black;
$default-button-hover-background: linear-gradient(#C0CEE9, #5692BE 70%);
$danger-button-background:linear-gradient(tomato, red 70%);
$danger-button-hover-background: linear-gradient(#FF8367, #FF2020 70%)
