@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Localizer

<div v-cloak>
    <div v-if="display" class="d-flex flex-column modal-window w-75">
        <div class="show-panel flex-column">
            <div class="d-none d-md-flex flex-column">
                <table>

                </table>
                <div class="d-flex flex-nowrap">
                    <button class="btn btn-primary">@Localizer[nameof(Resources.Save)]</button>
                    <button class="btn btn-danger ml-auto" @@click="display = false">@Localizer[nameof(Resources.Cancel)]</button>
                </div>
            </div>
        </div>
    </div>
</div>
