@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Localizer

    <template id="documents-list-template">
        <div>
            <document-editor v-if="showEditor" :level="level+1" :initial-document="selectedDocument" @@cancel="cancelEditor"
                          @@save="confirmAdd"></document-editor>
            <confirmation-dialog v-if="showDeleteConfirmation" :level="level+1" @@yes="confirmRemove" @@no="cancelRemove">
                @Localizer[nameof(Resources.Delete)] @Localizer[nameof(Resources.Document)].Value.ToLower()?
            </confirmation-dialog>
            <h6 class="text-center">@Localizer[nameof(Resources.Documents)]</h6>
            <div class="d-flex flex-row justify-content-end">
                <div class="additional-data-table mr-1">
                    <table class="flex-grow-1 table-borderless table-sm w-100">
                        <tr v-for="d in documents" @@click="selectDocument(d)" :class="{'selected-table-row': d.id == selectedDocument.id}">
                            <td>{{ `${d.documentType.name} ${d.number}` }}</td>
                        </tr>
                    </table>
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-primary" :disabled="!enabled" @@click="add"><i class="fas fa-plus"></i></button>
                    <button class="btn btn-primary mt-1" :disabled="!enabled" @@click="edit"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-danger mt-1" :disabled="!enabled" @@click="remove"><i class="fas fa-minus"></i></button>
                </div>
            </div>
        </div>
    </template>

