@model ApplicationViewModel

@{
    ViewData["Title"] = $"hNext — {Resources.MedicalInformationSystem}";
}

<div class="d-flex flex-row justify-content-start">
    <nav>
        <ul class="nav nav-tabs flex-column">
            @foreach(var tab in Model.Tabs)
            {
                <li class="nav-item">
                    <a class="nav-link active side-tab-selector" id="@String.Format("{0}Tab", tab.Key.ToLower())">
                        @tab.Value
                    </a>
                </li>
            }
        </ul>
    </nav>
    <main class="container-fluid flex-grow-1 main-panel">

    </main>
</div>
