body {
  background-color: steelblue;
  font-size: 14px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
/*header style*/
.header-panel {
  background-color: steelblue; }

.header-text {
  color: white; }

.header-image {
  height: 5vh;
  width: 5vh; }

/*main view style*/
[v-cloak] {
  display: none; }

.content-wrapper {
  margin: 10px; }

.main-panel {
  background-color: white;
  min-height: 90vh; }

.show-panel {
  background-color: white;
  padding: 5px; }

/*tab styles*/
.nav-link {
  background-color: lightblue !important;
  color: darkblue !important;
  border-style: solid !important; }

.nav-link.active {
  background-color: white !important;
  color: black !important; }

.nav-link:hover {
  box-shadow: 0 0 10px paleturquoise; }

.tab-item {
  margin: 5px; }

.side-tab-selector {
  background-color: white;
  writing-mode: vertical-lr;
  margin-bottom: 2px;
  cursor: default; }

.side-tab-field {
  min-width: 150px; }

/*footer style*/
footer {
  margin: 10px;
  color: white; }

/*selectable table style*/
.selected-table-row tr {
  background-color: #85C1E9 !important; }

.selected-table-row td {
  background-color: #85C1E9 !important; }

.table-responsive-vertical {
  max-height: 50vh;
  overflow-y: auto; }

/*scrollable table*/
.scrollable-table tbody {
  overflow-y: auto;
  width: 100%; }

.scrollable-table thead, .scrollable-table tbody, .scrollable-table tr, .scrollable-table td, .scrollable-table th {
  display: block;
  width: 100%; }

.scrollable-table tbody td {
  float: left; }

.scrollable-table thead tr td {
  float: left; }

/*additional data table style*/
.additional-data-table {
  border-style: solid;
  border-width: 1px;
  height: 115px;
  overflow-y: auto;
  min-width: 235px; }

/*modal window style*/
.modal-window {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: steelblue;
  padding: 10px;
  max-height: 90vh;
  overflow: visible; }

.modal-window-show-panel {
  max-height: 80vh;
  overflow-y: auto; }

/*validation styles*/
.field-validation-error {
  color: #f00; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee; }

.validation-summary-errors {
  font-weight: bold;
  color: #f00; }

.validation-summary-valid {
  display: none; }

/*button styles*/
.btn {
  height: 35px;
  padding-top: 3px; }

.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active:focus,
.btn.active.focus,
.btn.focus {
  outline: none !important;
  box-shadow: none; }

.btn:active,
.btn.active {
  transform: scale(0.95, 0.95); }

.btn-group-toggle .btn.active {
  background-image: linear-gradient(#5893e0, #0f70c1 70%);
  border-width: 2px 3px 3px 2px; }

.btn-primary {
  background-image: linear-gradient(lightsteelblue, steelblue 70%);
  border-color: black;
  border-width: 1px 2px 2px 1px; }

.btn-primary:hover {
  background-image: linear-gradient(#C0CEE9, #5692BE 70%); }

.btn-danger {
  background-image: linear-gradient(tomato, red 70%);
  border-color: black;
  border-width: 1px 2px 2px 1px; }

.btn-danger:hover {
  background-image: linear-gradient(#FF8367, #FF2020 70%); }

/*confirmation dialog*/
.confirmation-dialog {
  width: 400px; }

/*accordion*/
.header-closed {
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 1s; }

.header-opened {
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 1s; }
