@model IEnumerable<RecordTemplate>

<template id="case-history-records-template">
    <div class="m-3 d-flex flex-column">
        <div class="accordion">
            <div class="card" v-for="r in records">
                <div class="card-header">
                    <h5 class="mb-0 d-flex">
                        <button class="btn btn-light d-flex flex-row justify-content-between w-100" data-toggle="collapse" :data-target="`#c-${r.id}`"
                                @@click="clickRecord(r.id)" :disabled="!enabled">
                            {{`${r.header} ${$options.filters.shortDate(r.date)}`}}
                            <i class="fa fa-chevron-circle-up" :class="openedRecords.includes(r.id) ? 'header-opened' : 'header-closed'"></i>
                        </button>
                    </h5>
                </div>
                <div class="collapse" :id="`c-${r.id}`">
                    <div class="card-body">
                        <record level="0" :patient-id="patientId" :initial-record="r"></record>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div v-if="recordAddMode">
                <record style="border:1px solid black;" class="mb-2" level="0" :patient-id="patientId" :record-template="selectedTemplate" editor="true"
                        @@save="addRecord" @@cancel="recordAddMode=false"></record>
            </div>
            <div v-else>
                <select class="custom-select" :disabled="!enabled && !templateLoading" v-model="selectedTemplateId"
                        asp-items="@new SelectList(Model, nameof(RecordTemplate.Id), nameof(RecordTemplate.Name))">
                    <option value="">@Localizer[nameof(Resources.SelectTemplate)]</option>
                    <option value="-1">@Localizer[nameof(Resources.NoTemplateRecord)]</option>
                </select>
                <button class="btn btn-primary w-100 mt-2" :disabled="!enabled"
                        @@click.stop.prevent="addRecordClicked">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</template>
