

    <template id="emails-list-template">
        <div class="w-100" :style="{zIndex: level*1000}">
            <email-editor v-if="showEditor" :level="level+1" :initial-email="selectedEmail" @@cancel="cancelEditor"
                              @@save="confirmAdd"></email-editor>
                <confirmation-dialog v-if="showDeleteConfirmation" :level="level+1" @@yes="confirmRemove" @@no="cancelRemove">
                    @Localizer[nameof(Resources.Delete)] e-mail?
                </confirmation-dialog>
            <h6 class="text-center">Email</h6>
            <div class="d-flex flex-row justify-content-end">
                <div class="additional-data-table mr-1 w-100">
                    <table class="flex-grow-1 table-borderless table-sm w-100">
                        <tr v-for="e in emails" @@click="selectEmail(e)" :class="{'selected-table-row': e.emailId == selectedEmail.emailId}">
                            <td>{{ e.email.address }}</td>
                        </tr>
                    </table>
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-primary" :disabled="!enabled" @@click.stop.prevent="add"><i class="fas fa-plus"></i></button>
                    <button class="btn btn-primary mt-1" :disabled="!enabled" @@click.stop.prevent="edit"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-danger mt-1" :disabled="!enabled" @@click.stop.prevent="remove"><i class="fas fa-minus"></i></button>
                </div>
            </div>
        </div>
    </template>
