
<template id="patient-additional-data-template">
    <div class="main-panel ml-2 d-flex flex-column">
        <phones-list class="mx-2" :initial-phones="phones" level="0" :person-id="personId"></phones-list>
    </div>
</template>
